.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginacion button {
  background-color: #3D9970;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginacion button:hover {
  background-color: #2e6e58;
}

.paginacion button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.paginacion span {
  margin: 0 10px;
  font-size: 16px;
  color: #ffdc00;
}
